{% extends "base.html" %}

{% block content %}
<p>Guess which letters are in the masked word!</p>
<p>Your guesses will be logged below.</p>

<h1 class="maskedword">{{ masked_word }}</h1>

<p>{{ guesses }}</p>

{% if msg_end %}
<p class="success">{{ msg_end }}</p>
<form action="/">
    <button type="submit">Play again!</button>
</form>
{% endif %}

<form method="post" action="/game">
    <label for="guess">Guess a letter in the secret word!</label>
    <input id="guess" name="guess" type="text" placeholder="Guess a letter here ...">
    <button type="submit">Submit</button>
</form>

{% endblock content %}