{% extends "base.html" %}

{% block content %}
<h1>Let's play hangman!</h1>
<p>If you'd like to store your scores, please <a href="/login">log in</a></p>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

{% if message %}
<p class="message">{{ message }}</p>
{% endif %}

<form method="post" action="/">
    <label for="difficulty">How long do you want your hangman word to be?</label>
    <input type="number" id="difficulty" name="difficulty" placeholder="Type word length here ...">
    <button type="submit">Let's play!</button>
</form>
{% endblock content %}